In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("/kaggle/input/productdemandforecasting/Historical Product Demand.csv")
df.head()

   Product_Code Warehouse Product_Category       Date Order_Demand
0  Product_0993    Whse_J     Category_028  2012/7/27         100
1  Product_0979    Whse_J     Category_028  2012/1/19         500
2  Product_0979    Whse_J     Category_028   2012/2/3         500
3  Product_0979    Whse_J     Category_028   2012/2/9         500
4  Product_0979    Whse_J     Category_028   2012/3/2         500

In [3]:
df.isnull().sum()

Product_Code            0
Warehouse               0
Product_Category        0
Date                11239
Order_Demand            0
dtype: int64

In [4]:
df["Date"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1048575 entries, 0 to 1048574
Series name: Date
Non-Null Count    Dtype
--------------    -----
1037336 non-null  object
dtypes: object(1)
memory usage: 8.0+ MB

In [5]:
df.dropna(inplace=True)

In [6]:
X = df.drop(["Order_Demand"], axis = 1)
Y = pd.DataFrame(df["Order_Demand"])

In [7]:
df["Warehouse"].describe()

count     1037336
unique          4
top        Whse_J
freq       764447
Name: Warehouse, dtype: object

In [8]:
df["Product_Code"].describe()

count          1037336
unique            2160
top       Product_1359
freq             16936
Name: Product_Code, dtype: object

In [9]:
df["Product_Category"].describe()

count          1037336
unique              33
top       Category_019
freq            470266
Name: Product_Category, dtype: object

In [10]:
label_encoder = LabelEncoder()
X ["Product_Code"] = label_encoder.fit_transform(X["Product_Code"])
    
X = pd.get_dummies(X, columns = ["Warehouse" ,"Product_Category"], prefix = [None, "Product"])    
X.head()

,Product_Code,Date,Whse_A,Whse_C,Whse_J,Whse_S,Product_Category_001,Product_Category_002,Product_Category_003,Product_Category_004,...,Product_Category_024,Product_Category_025,Product_Category_026,Product_Category_027,Product_Category_028,Product_Category_029,Product_Category_030,Product_Category_031,Product_Category_032,Product_Category_033
0,982,2012/7/27,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
1,968,2012/1/19,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
2,968,2012/2/3,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
3,968,2012/2/9,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False
4,968,2012/3/2,False,False,True,False,False,False,False,False,...,False,False,False,False,True,False,False,False,False,False

In [11]:
x_train, x_test, y_train, y_test = train_test_split(X,Y,
                                                    test_size = 0.2 ,random_state =42)

In [12]:
print(x_train.size)
print(x_test.size)

32364852
8091252